/* Provide sufficient contrast against white background */
/* 
    heading font: font-family: 'Architects Daughter', cursive;


*/

/*
    ////////////////////////////////////////
    // General
    ////////////////////////////////////////
*/
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.mainlogo {
    font-family: 'Architects Daughter', cursive;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1, h2 {
    font-family: 'Architects Daughter', cursive;
    padding: 1%;
    border-bottom: 1px solid #444444;
}
h4 {
    margin: 2% 2% 2% 1%;
}

form input, select {
    margin: 1%; 
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 2% auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/*
    ////////////////////////////////////////
    // Login
    ////////////////////////////////////////
*/

#login {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 2% auto;
    width: 300px;
    text-align: center;
    height: auto;
}

#login form {
    display: flex;
    flex-flow: column;
    margin: 5%;
}

#login label {
    margin: 1%;
}

#login input {
    margin: 2%;
}

#input p {
    margin-top: 5%;
}

#input div.diabetes-checkbox {
    display: flex;
    flex-flow: row;
}

/*
    ////////////////////////////////////////
    // Register
    ////////////////////////////////////////
*/

#register form {
    display: flex;
    flex-flow: column;
    margin: 5% auto;
    text-align: center;
    width: 300px;
}

#register label {
    margin: 1%;
}

#register input {
    margin: 2%;
}

/*
    ////////////////////////////////////////
    // Entry Form
    ////////////////////////////////////////
*/

#entryform form {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 2%;
    width: 95%;
    text-align: center;
}

#entryform form div.main-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1% auto;
    width: 95%;
    text-align: center;
}

#entryform form div.main-section.exercise {
    text-align: center;
    display: flex;
    flex-flow: column;
}


#entryform form #carbs, #fats, #protein, #bg, #insulin, #exerciseLength {
    width: 3.25rem;
}

#entryform div.notes {
    flex-flow: column;
    align-items: normal;
}

#entryform div.notes label {
    text-align: left;
}

#entryform textarea {
    margin: auto;
    width: 95%;
    height: 150px;
}

#entryform div div {
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

#entryform .exercise {
    text-align: center;
}

#entryform div.allergens, div.nutrition {
    flex-flow: column;
    align-items: stretch;
    width: 45%;
}


/*
    ////////////////////////////////////////
    // Entry List
    ////////////////////////////////////////
*/
#entry-list form {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

#entry-list form div {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1% auto;
}

#entry-card-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.entry-card-link {
    text-decoration: none;
    color: #000000;
    width: 48%;
    height: 200px;
    margin: 1% auto;
}

.entry-card-link:hover {
    text-decoration: none;
    color: #000000;

}

/*
    ////////////////////////////////////////
    // Entry Card
    ////////////////////////////////////////
*/

.entry-card {
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.entry-card:hover {
    box-shadow: 0px 0px 5px #999999;
}

.entry-card.Meal {
    border: 1px solid #f86d6d;
    background-color: #fccece;
}

.entry-card.Event {
    border: 1px solid #8ef86d;
    background-color: #d3fac7;
}

.entry-card.Exercise {
    border: 1px solid #6daef8;
    background-color: #c7dffa;
}

.entry-card.Insulin.Injection{
    border: 1px solid #f8f66d;
    background-color: #f8f7c5;
}

.entry-card.BG.Reading {
    border: 1px solid #f8bc6d;
    background-color: #f8e2c5;
}
.entry-card div {
    width: 100%;
}

.entry-card .card-head.true {
    border-bottom: 3px solid #10fa10;
}

.entry-card .card-head.false {
    border-bottom: 3px solid #3f96fa;
}

.entry-card .card-body {
    text-align: center; 
    display: flex;
    flex-flow: column;
}

.entry-card .card-body .diabetes {
    display: flex;
    margin: auto;
}

.entry-card .card-body .meal {
    display: flex;
    margin: auto;
}

.entry-card .card-body .exercise {
    display: flex;
    margin: auto;
}

.entry-card .card-head .status {
    text-align: right;
    padding: 5px 2px 0px 5px;
    border-radius: 5px;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
}

.card-head {
    padding: 3%;
    font-weight: bold;
}

.card-head.Meal {
    background-color: #f86d6d;
}

.card-head.Event {
    background-color: #8ef86d;
}

.card-head.Exercise {
    background-color: #6daef8;
}

.card-head.Insulin.Injection{
    background-color: #e3f86d;
}

.card-head.BG.Reading {
    background-color: #f8bc6d;
}

.card-head .time {
    font-weight: normal;
}

.status {
    margin: auto auto;
    height: 30%;
}

.card-body {
    padding: 3%;
}

.card-body .diabetes {
    display: flex;
    flex-flow: row;
}

.card-body .meal {
    display: flex;
    flex-flow: row;
}

/*
    ////////////////////////////////////////
    // Entry Details
    ////////////////////////////////////////
*/

.entry-details-buttons input {
    margin: 1% auto;
    display: flex;
    flex-flow: row;
}

.notes textarea {
    display: block;
    width: 96%;
    height: 200px;
    margin: 1% auto;
}

/*
    ////////////////////////////////////////
    // Today
    ////////////////////////////////////////
*/

.today-chart {
    display: flex;
    flex-flow: row;
}



.today-chart table, td, th {
    border-radius: 5px 5px 0px 0px;
    height: 6rem;
    width: 6rem;
    text-align: center;
}

.today-chart table, td {
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0px 0px 5px 5px;
}


.today-meal-fats, .today-diabetes-bg {
    background-color: #f86d6d;
}

.today-meal-carbs, .today-diabetes-avginsulin {
    background-color: #e3f86d;
}

.today-meal-exercise {
    background-color: #6daef8;
}

.today-meal-meals {
    background-color: #8ef86d;
}

.today-meal-protein, .today-diabetes-totinsulin {
    background-color: #f8bc6d;
}


/*
    ////////////////////////////////////////
    // Tablet
    ////////////////////////////////////////
*/
@media screen and (min-width: 500px) {
    .entry-card-link {
        width: 32%
    }


}

@media screen and (min-width: 768px) {
    .entry-card-link {
        width: 24%
    }


}

/*
    ////////////////////////////////////////
    // Desktop
    ////////////////////////////////////////
*/
@media screen and (min-width: 1024px) {
    .entry-card-link {
        width: 19%;
    }

    .entry-details-buttons input {
        margin: 1% 0.5%;
        display: inline;
    }
}
