
/*
    ////////////////////////////////////////
    // General
    ////////////////////////////////////////
*/

#root {
    margin-bottom: 75px;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.mainlogo {
    font-family: 'Architects Daughter', cursive;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1, h2 {
    font-family: 'Architects Daughter', cursive;
    padding: 1%;
    border-bottom: 1px solid #444444;
}
h4 {
    margin: 2% 2% 2% 1%;
}

form input, select {
    margin: 1%; 
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 2% auto;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ffffffEE;
}

footer p {
    margin: auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.home-div p {
    padding-left: 20px;
}

.home-div ul {
    padding-left: 60px;
}

.home-div h1 {
    margin-bottom: 5%;
}


