/*
    ////////////////////////////////////////
    // Entry Card
    ////////////////////////////////////////
*/

.entry-card {
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.entry-card:hover {
    box-shadow: 0px 0px 5px #999999;
}

.entry-card.Meal {
    border: 1px solid #f86d6d;
    background-color: #fccece;
}

.entry-card.Event {
    border: 1px solid #8ef86d;
    background-color: #d3fac7;
}

.entry-card.Exercise {
    border: 1px solid #6daef8;
    background-color: #c7dffa;
}

.entry-card.Insulin.Injection{
    border: 1px solid #f8f66d;
    background-color: #f8f7c5;
}

.entry-card.BG.Reading {
    border: 1px solid #f8bc6d;
    background-color: #f8e2c5;
}
.entry-card div {
    width: 100%;
}

.entry-card .card-head.true {
    border-bottom: 3px solid #10fa10;
}

.entry-card .card-head.false {
    border-bottom: 3px solid #3f96fa;
}

.entry-card .card-body {
    text-align: center; 
    display: flex;
    flex-flow: column;
}

.entry-card .card-body .diabetes {
    display: flex;
    margin: auto;
}

.entry-card .card-body .meal {
    display: flex;
    margin: auto;
}

.entry-card .card-body .exercise {
    display: flex;
    margin: auto;
}

.entry-card .card-head .status {
    text-align: right;
    padding: 5px 2px 0px 5px;
    border-radius: 5px;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
}

.card-head {
    padding: 3%;
    font-weight: bold;
}

.card-head.Meal {
    background-color: #f86d6d;
}

.card-head.Event {
    background-color: #8ef86d;
}

.card-head.Exercise {
    background-color: #6daef8;
}

.card-head.Insulin.Injection{
    background-color: #e3f86d;
}

.card-head.BG.Reading {
    background-color: #f8bc6d;
}

.card-head .time {
    font-weight: normal;
}

.entry-card .status {
    margin: auto auto;
    height: 30%;
}

.card-body {
    padding: 3%;
}

.card-body .diabetes {
    display: flex;
    flex-flow: row;
}

.card-body .meal {
    display: flex;
    flex-flow: row;
}

