/*
    ////////////////////////////////////////
    // Entry Details
    ////////////////////////////////////////
*/

.entry-details-buttons input {
    margin: 1% auto;
    display: flex;
    flex-flow: row;
}

.entry-details {
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    box-shadow: 0px 0px 5px #999999;
    padding: 1rem;
    margin-top: 5%;
}

.entry-details h2 {
    border-bottom: none;
}

.entry-details .time-status {
    display: inline;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
}

.entry-details .time {
    text-align: center;
}

.entry-details .status {
    font-style: italic;
    font-weight: 500;
    text-align: center;
    margin-left: 1%;
}

.entry-details .status.false {
    border-bottom: 3px solid #3f96fa;
}

.entry-details .status.true {
    border-bottom: 3px solid #10fa10;
}


.entry-details .category {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-bottom: 1px solid #000000;
}


.entry-details.Meal {
    border: 1px solid #f86d6d;
    background-color: #fccece;
}

.entry-details.Event {
    border: 1px solid #8ef86d;
    background-color: #d3fac7;
}

.entry-details.Exercise {
    border: 1px solid #6daef8;
    background-color: #c7dffa;
}

.entry-details.Insulin.Injection{
    border: 1px solid #f8f66d;
    background-color: #f8f7c5;
}

.entry-details.BG.Reading {
    border: 1px solid #f8bc6d;
    background-color: #f8e2c5;
}

.entry-details h4 {
    font-family: 'Architects Daughter', cursive;
}

.entry-details .meal .nutrition-details, .entry-details .diabetes {
    display: flex;
    flex-flow: row;
    margin-left: 20px;
}

.entry-details .meal .nutrition-details div, .entry-details .diabetes div {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 5px ;
    height: 6rem;
    width: 6rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 5px;
}
.entry-details .meal .nutrition-details p, .entry-details .diabetes p {
    margin: auto auto;
}

.notes textarea {
    display: block;
    width: 96%;
    height: 200px;
    margin: 1% auto;
}

.entry-details .allergen-box {
    background-color: #6daef8;
}

/*
    ////////////////////////////////////////
    // Desktop
    ////////////////////////////////////////
*/
@media screen and (min-width: 1024px) {
    .entry-details-buttons input {
        margin: 1% 0.5%;
        display: inline;
    }
}