/*
    ////////////////////////////////////////
    // Register
    ////////////////////////////////////////
*/

#register form {
    display: flex;
    flex-flow: column;
    margin: 5% auto;
    text-align: center;
    width: 300px;
}

#register label {
    margin: 1%;
}

#register input {
    margin: 2%;
}

#register div {
    margin: 1%;
}

#register .disclaimer {
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 5px;
}