/*
    ////////////////////////////////////////
    // Summary
    ////////////////////////////////////////
*/

#summary form {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

#summary form div {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: 1%;
}


#summary .observations .sick-data ul {
    list-style-type: none;
    padding-left: 0;
    width: 75%;
    margin: 3% auto;
}

#summary .observations .sick-data li {
    margin: 1% auto;
    padding: 20px;
    border-radius: 5px;
    
}

#summary .observations .sick-data li strong {
    font-size: 1.5rem;
    margin: 1%;
}

#summary .observations .sick-data li.high {
    border: 1px solid #f86d6d;
    background-color: #faebeb;

}

#summary .observations .sick-data li.high strong{
    color:  #ec0000;
}

#summary .observations .sick-data li.mid {
    border: 1px solid #f8f66d;
    background-color: #f8f8e7;
}

#summary .observations .sick-data li.mid strong{
    color:   #dd6b00;
}

#summary .observations .sick-data li.neutral {
    border: 1px solid #6daef8;
    background-color: #c7dffa;
    font-weight: 500;
    font-size: 1.1rem;
}

@media screen and (min-width: 768px) {

    #summary .observations .sick-data ul {
        width: 50%;
    }
}
